*{
    margin: 0;
    padding: 0;
}

.main{
    height: 100%;
    width: 100%;
    background-color: rgb(15, 26, 36);
    background-size: cover;
    position: absolute;
}



.loginform{
    width: 480 px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
}


form #register
{
    margin: 40 px;
}

label{
    font-family:Arial, Helvetica, sans-serif
    font-size: 18px;
}

input#name
{
    width: 300px;
    border:1px solid #ddd;
    border-radius: 3px;
    outline:0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px
    rgba(0,0,0,0.3);
}

input #Submit{
    width: 200px;
    padding: 7px;
    font: size 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border:none;
    border-radius: 3px;
    background-color: rgba(250,100,0,0.8);
    color: #fff;
    cursor:pointer;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}

